# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
node_modules/
dist
dist/
dist-ssr
*-dist
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
**/agent-eval-report*
pids
.file-manifest
.devcontainer/*
!.devcontainer/devcontainer.json

.spark-workbench-id
.cache

# Browser test artifacts
playwright-report/
test-results/
